@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron bg-light p-5">
        <h1>TI Capital Humano</h1>
        <p>Sistema de Control Escolar</p>
        <p><a href="https://ti-capitalhumano.com/" class="btn btn-primary btn-lg">Saber mas de TICH &raquo;</a></p>
    </div>
</div>
